<section class="blog-top">

  <div class="container">
    <% @blog_posts.each do |blog_post| %>
    	<%= blog_post.content.html_safe %>
    <% end %>
    <% if user_signed_in? && current_user.admin? %>
      <li><%= link_to 'Create blog post', new_blog_path %></li>
    <% end %>
  </div>

</section>