<section class="edit-blog">

  <div class="container">
    <%= form_for @blog_post do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Blog post title" %>
      </div>
      <div>
        <%= f.text_area :content, :class =>"blog-post" %>
      </div>
      <div>
        <%= f.submit 'Create blog post', :class => "create-blog-post-button" %>
      </div>
    <% end %>
  </div>

</section>