<section class="homepage-main">
  <div class="container">
  	<div class="headers col-md-12">
			<h1 class="homepage-header col-md-12">Bringing the words FUN and ENJOYABLE back to fitness and nutrition</h1>
  		<p class="homepage-subheader col-md-10 col-md-offset-1">i2i  was created to help support individuals achieve their fitness and wellbeing goals. With any type of goal,comes roadblocks.. We are here to help train and mentor you through those roadblocks and get you where you want to be!</p>
  	</div>
  	<div class="start-now">
  		<%= link_to 'Get started  &#8594;'.html_safe, services_path, :class => "start-now-button" %>
  	</div>
  </div>
</section>

<section class="homepage-second">
	<div class="container">
		<h2 class="homepage-second-header">Hi, I'm David</h2>
		<div class="david-pic col-md-4">
			<img src="/assets/david_home.jpg" alt="" class="david-img">
		</div>
		<div class="about col-md-7">
			<h4>A little bit about me</h4>
			<p class="about-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus tempor arcu scelerisque aliquam. Phasellus at dui consequat, bibendum odio non, luctus odio. Nam vel pharetra risus. Sed mollis mattis sem maximus consectetur. Duis sit amet faucibus enim, sit amet malesuada neque. Maecenas ac porta erat, id cursus quam. Ut tincidunt vehicula orci quis semper. Nam vel pharetra risus. Sed mollis mattis sem maximus consectetur. Duis sit amet faucibus enim, sit amet malesuada neque. Maecenas ac porta erat, id cursus quam. Ut tincidunt vehicula orci quis semper. Vivamus nisl eros, laoreet pretium convallis eu, pretium id nibh.</p>
			<p class="about-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus tempor arcu scelerisque aliquam. Phasellus at dui consequat, bibendum odio non, luctus odio. Nam vel pharetra risus. Sed mollis mattis sem maximus consectetur. Duis sit amet faucibus enim, sit amet malesuada neque. Maecenas ac porta erat, id cursus quam.</p>
		</div>
	</div>
</section>

<section class="homepage-image">
	<div class="container">
		<div class="quote-box">
			<blockquote class="col-md-5">
				<h3 class="quote"><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus tempor. <i class="fa fa-quote-right"></i></h3>
			</blockquote>
		</div>
	</div>
</section>

<section class="homepage-third">
	<div class="container">
		<h2 class="homepage-third-header">How can I help?</h2>
		<h4 class="homepage-third-subheader">Check out the video below</h4>
		<div class="video col-md-8 col-md-offset-2">
			<iframe width="640" height="360" src="//www.youtube.com/embed/C4cXmvqkOP8?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="classes col-md-12">
			<div class="col-md-3">
				<h4 class="icon"><i class="fa fa-comments"></i></h4>
				<h3>1 on 1 Training</h3>
				<p class="training-content">Do you need encouragement to finish that last repetition? Do you need motivation to reach your goals? We all have those days where we can use that hands on motivation. 1 on 1 training gives you that extra push when you think you have nothing left.</p>
			</div>
			<div class="col-md-3">
				<h4 class="icon"><i class="fa fa-desktop"></i></h4>
				<h3>Online Training</h3>
				<p class="training-content">Not everyone needs a personal trainer by their side at all times. Online training gives you a full workout plan detailing what to do.. when to do it and how! This is for the individual who has the motivation but not the moves.</p>
			</div>
			<div class="col-md-3">
				<h4 class="icon"><i class="fa fa-stethoscope"></i></h4>
				<h3>Diet/Nutrition</h3>
				<p class="training-content">Whether you are trying to lose weight, change your eating habits or just want to start eating clean, the i2i nutrition plan will provide you with the necessary information to achieve your goals.</p>
			</div>
			<div class="col-md-3">
				<h4 class="icon"><i class="fa fa-bullhorn"></i></h4>
				<h3>i2i Athlete</h3>
				<p class="training-content">Are you trying to increase your lateral speed, vertical jump , or anything sports related? i2i Athlete focuses on sports related training, conditioning and skills work to get you ready for the upcoming season.</p>
			</div>
		</div>
	</div>
</section>

<section class="homepage-fourth">
	<div class="container">

	</div>
</section>


