<section class="homepage-main">
  <div class="container">
  	<div class="headers col-md-7">
			<h1 class="homepage-header col-md-12">Bringing the words FUN and ENJOYABLE back to fitness and nutrition</h1>
  		<p class="homepage-subheader col-md-12">i2i  was created to help support individuals achieve their fitness and wellbeing goals. With any type of goal,comes roadblocks.. We are here to help train and mentor you through those roadblocks and get you where you want to be!</p>
  	</div>
  </div>
</section>

<section class="homepage-second">
	
</section>


