<% content_for :title do %>About<% end %>

<section class="about-page-top">
  <div class="container">
  	<h1 class="about-page-header col-md-12"><span class="about">About</span> <span class="david">David</span></h1>
  </div>
</section>