<% content_for :title do %>About David<% end %>

<section class="about-page-top">
  <div class="container">
    <h1 class="about-page-header col-md-12"><span class="about">About</span> <span class="david">David</span></h1>
  </div>
</section>

<section class="about-page-content">
  <div class="container">
    <div class="content-pics-area col-md-12">
      <h3 class="header col-md-12">Founder of i2i Fitness, David Kushnir has been seen as a top trainer in the Chicagoland Area</h3>
      <div class="content-area col-md-8">
        <p class="content">The journey of fitness and athletics truly began when David went on to college to play NCAA Collegiate Basketball and pursue his Business Administration degree. He not only gained a passion for working out and personal development, but also keen knowledge for strength & conditioning, nutrition & overall healthy living.</p>
        <p class="content">It's when David graduated from college and landed a corporate career working 9-5 when he realized that his knowledge and expertise can be used to help motivate people to live a healthier life. He went on to get his NASM Personal Trainer Certification which would lead to the concept of Inspired to Inspire Fitness and Wellness.</p>
        <p class="content">David now works with clients varying from high school athletes to senior management in top firms. No matter what your goals are, we can help. i2i was created not only to make people look and feel better but also to motivate and create a movement of inspiration. i2i wishes to introduce people to the idea that working out and healthy living is not only about weight loss and muscle, but also improving in day to day physical and mental limitations.</p>
      </div>
      <div class="picture-area col-md-4">
      </div>
    </div>
    <div class="contact-now col-md-12">
      <%= link_to 'Contact David'.html_safe, new_contact_path, :class => "contact-now-button" %>
    </div>
  </div>
</section>