<% content_for :title do %>Services<% end %>

<section class="services-page-top">
	<div class="container">
		<div class="col-md-6">
			<h1 class="services-page-header">Get the body you always wanted!</h1>
			<span class="decorative-line"></span>
			<h2 class="services-page-subheader">Are you tired of not seeing the results you desire? Find out what your body has been calling for! With nutritious diets, body sculpting workouts and constant personal motivation, you will finally see the outcome you have been waiting for.</h2>
			<ul class="services-list">
				<li class="service"><i class="fa fa-check"></i> Safe and functional workouts</li>
				<li class="service"><i class="fa fa-check"></i> Nutritious AND delicious meal plan</li>
				<li class="service"><i class="fa fa-check"></i> Suitable for all ages and genders</li>
				<li class="service"><i class="fa fa-check"></i> Cost worthy</li>
			</ul>
			<%= link_to 'Get started  &#8594;'.html_safe, new_contact_path, :class => "start-now-button" %>
		</div>
		<div class="col-md-6"><img src="/assets/david_cartoon.jpg" alt="" class="david-cartoon-img"></div>
	</div>
</section>


<section class="individual-services">
	<div class="container">
		<h3 class="individual-services-header">Services we're offering</h3>
		<img src="/assets/divider_1.png" alt="">

		<div class="col-md-3">
			<div class="col-md-12">
				<img src="/assets/img1.jpg" alt="" class="service-img">
			</div>
			<h3 class="service-header">1 on 1 Training</h3>
			<ul>
				<li class="benefit"><i class="fa fa-check"></i> Constant Motivation</li>
				<li class="benefit"><i class="fa fa-check"></i> Fast Results</li>
				<li class="benefit"><i class="fa fa-check"></i> Target trouble areas</li>
				<li class="benefit"><i class="fa fa-check"></i> Quick and Efficient</li>
			</ul>
		</div>

		<div class="col-md-3">
			<div class="col-md-12">
				<img src="/assets/img2.jpg" alt="" class="service-img">
			</div>
			<h3 class="service-header">Online Personal Training</h3>
			<ul>
				<li class="benefit"><i class="fa fa-check"></i> Constant updates and communication</li>
				<li class="benefit"><i class="fa fa-check"></i> Low Cost</li>
				<li class="benefit"><i class="fa fa-check"></i> Train on your schedule</li>
				<li class="benefit"><i class="fa fa-check"></i> Results Guaranteed</li>
			</ul>
		</div>

		<div class="col-md-3">
			<div class="col-md-12">
				<img src="/assets/img4.png" alt="" class="service-img">
			</div>
			<h3 class="service-header">Diet/Nutrition</h3>
			<ul>
				<li class="benefit"><i class="fa fa-check"></i> Updated Grocery Lists/ Meal Plans</li>
				<li class="benefit"><i class="fa fa-check"></i> Goal Specific</li>
				<li class="benefit"><i class="fa fa-check"></i> Macro Based</li>
				<li class="benefit"><i class="fa fa-check"></i> Tips and Consultation</li>
			</ul>
		</div>

		<div class="col-md-3">
			<div class="col-md-12">
				<img src="/assets/img3.jpg" alt="" class="service-img">
			</div>
			<h3 class="service-header">i2i Athlete</h3>
			<ul>
				<li class="benefit"><i class="fa fa-check"></i> Sports Specific</li>
				<li class="benefit"><i class="fa fa-check"></i> Skill Development</li>
				<li class="benefit"><i class="fa fa-check"></i> Speed/Agility</li>
				<li class="benefit"><i class="fa fa-check"></i> Strength/Power</li>
			</ul>
		</div>
		<center>
			<%= link_to 'Contact David for all service pricing', new_contact_path, :class => "contact-now-button" %>
		</center>
	</div>
</section>

<section class="services-page-image">
  <div class="container">
    <div class="services-page-quote col-md-6 col-md-offset-3">
      <h2 class="quote">No better place<span class="green"> than here, </span>No better time<span class="green"> than now!</span></h2>
      <h3 class="quote-from">- i2i</h3>
      <span class="decorative-line"></span>
      <%= link_to 'Contact David'.html_safe, new_contact_path, :class => "contact-now-button" %>
    </div>
  </div>
</section>

<section class="testimonials">
	<div class="container">
		<h3 class="testimonials-header">Check out what the i2i community has said about us</h3>
		<img src="/assets/divider_1.png" alt="">

		<div class="testimonial col-md-6 col-md-offset-2">
			<div class="testimonial-background left">
				<img src="/assets/testimonial1.jpg" alt="" class="testimonial-img">
			</div>
			<div class="bubble bubble-left">
				<p class="testimonial-content">"Whenever I had a question about my meal plan or workout David was there via email or phone to answer my question right away"</p>
			</div>
		</div>

		<div class="testimonial col-md-6 col-md-offset-4">
			<div class="testimonial-background right">
				<img src="/assets/testimonial2.jpg" alt="" class="testimonial-img">
			</div>
			<div class="bubble bubble-right">
				<p class="testimonial-content">"i2i has given me more results in 30 days then I have seen in 3 years of working out."</p>
			</div>
		</div>

		<div class="testimonial col-md-6 col-md-offset-2">
			<div class="testimonial-background left">
				<img src="/assets/testimonial3.jpg" alt="" class="testimonial-img">
			</div>
			<div class="bubble bubble-left">
				<p class="testimonial-content">"i2i changed the way I look at eating. Best investment I have made in awhile"</p>
			</div>
		</div>

	</div>
</section>




