// import the CSS framework
@import "bootstrap";

$red: #FF0000;
$neon-green: #86fd00;
$black: #2e2f33;

// font-family: 'Noto Sans', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Raleway', sans-serif;
* {
  margin: 0;
}

html, body {
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0px;
}
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
#flash_notice {
  text-align: center;
}

.navbar {
  background-color: $black;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  border-radius: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #d9d9de;

  .navbar-collapse ul li a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    @extend %transition;
    padding-top: 29px;
    padding-bottom: 29px;

    &:hover {
      background-color: $red;
      color: white;
    }
  }
  .nav-logo {
    height: 70px;
    width: 70px;
    margin: 4px 0px;
  }
}

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  width: 100%;
  position: relative;
  min-height: 100%;
  height: auto !important;
}

section {
  @extend .row;
}

.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
  background-color: $red;
  border: none;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  @extend %transition;

  &:hover {
    background-color: darken($red, 5%);
  }
}
.authform form {
  -webkit-font-smoothing: antialiased;
  @extend .well-lg;
  padding-bottom: 40px;
  -webkit-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
  -moz-box-shadow: 0 2px 3px rgba(56,67,67,0.2);
  box-shadow: 0 2px 3px rgba(56,67,67,0.2);
  background: white;
  border: 1px solid #dfdfdf;
  border-top: 4px solid $red;
  border-radius: 4px;
  z-index: 100;
  margin-bottom: 30px;

  h3, label, p, a {
    text-align: center;
  }
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
%transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

%form-fields {
  width: 50%;
  border-radius: 3px;
  border: 1px solid #C0C0C0;
  padding: 4px;
  line-height: 17px;
  margin: 0 0 16px 0;
}

%red-button {
  background-color: $red;
  padding: 10px 60px;
  text-decoration: none;
  @extend %transition;
  border-radius: 4px;
  font-size: 16px;
  float: left;
  color: white;
  position: relative;
  margin-top: 20px;
  text-decoration: none;
  background-color: none;
  border-bottom: 3px solid darken($red, 10%);
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  letter-spacing: 1px;

  &:hover {
    background-color: darken($red, 5%);
    color: white;
    text-decoration: none;
  }
}

%header-text {
  font-size: 46px;
  text-align: center;
  line-height: 37px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

%decorative-line {
  background: $neon-green;
  display: inline-block;
  height: 6px;
  margin-top: 14px;
  position: relative;
  width: 70px;
}
.homepage-main {
  background-image: url('/assets/david_large.jpg');
  min-height: 450px;
  padding-bottom: 50px;
  background-attachment: fixed;
  margin-top: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  .headers {
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    .homepage-subheader {
      color: white;
      margin-top: 15%;
      line-height: 26px;
      letter-spacing: 1px;
      font-size: 18px;
      text-align: center;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);
    }
  }

  .start-now {
    .start-now-button {
      float: right;
      margin-top: 5%;
      @extend %red-button;
    }
  }
}

.homepage-second {
  min-height: 300px;
  background-color: $black;


  .container {
    margin-top: 40px;
    padding-bottom: 80px;
  }

  .join-me {
    margin-top: 5%;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
  }

  .about {

    .about-content {
      font-size: 18px;
      line-height: 24px;
      padding-top: 30px;
      color: white;
    }

    .decorative-line {
      @extend %decorative-line;
    }
  }

  .carousel {
    margin-top: 5%;
    .carousel-image {
      min-width: 100%;
    }

    .carousel-caption {
      height: 100%;
      
      h3 {
        color: $red;
        font-size: 3em;
        padding: 0px 10px 10px 10px;
        margin-top: 5px;
        // background-color: rgba(0, 0, 0, 0.50);
      }

      p {
        bottom: 15px;
        font-size: 1.2em;
        position: absolute;
      }
    }
  }

  .fa-chevron-right, .fa-chevron-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    margin-left: -15px;
  }
}

.homepage-image {
  background-image: url('/assets/quote_image.jpg');
  min-height: 400px;
  position: relative;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  background-repeat: no-repeat;
  padding: 0;

  blockquote {
    quotes: none;
    border: none;
    margin-top: 20px;

    .quote {
      font-size: 36px;
      line-height: 46px;
      font-family: 'Lato', sans-serif;
      color: #fff;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);

      .fa {
        color: $red;
        padding: 0px 10px;
      }
    }
  }
}

.homepage-third {
  min-height: 300px;
  padding-top: 30px;
  background-color: $black;

  .container {
    padding-bottom: 50px;
  }

  .homepage-third-header {
    @extend %header-text;
    color: white;
    line-height: 46px;
  }

  .video {
    margin-top: 2%;
    position: relative;
    padding-top: 55px;
    padding-bottom: 40%; /* 16:9 */
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    }
  }

  .homepage-third-subheader {
    text-align: center;
    color: #a6a6a6;
    margin-top: 20px;
  }

  .classes {
    border-top: 1px solid #eee;
    min-height: 200px;
    padding-top: 20px;
    margin-top: 5%;

    h3 {
      text-align: center;
      font-family: 'Lato', sans-serif;
      line-height: 1.3em;
      letter-spacing: -1px;
      color: white;
      font-size: 26px;
      font-weight: 400;
    }

    .icon {
      text-align: center;
      color: $neon-green;
      font-size: 26px;
    }

    .training-content {
      padding: 5px;
      color: white;
      text-align: center;
      font-family: 'Lato', sans-serif;
      line-height: 1.3em;
      letter-spacing: 2px;
      color: white;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

// .homepage-fourth {
//   min-height: 400px;
//   background-image: url('/assets/congruent_outline.png');
//   padding-bottom: 40px;

  
// }

.blog-top {
  margin-top: 0px;
  min-height: 175px;

  .blog-header {
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #444;
    font-style: normal;
    letter-spacing: -2px;
    font-size: 54px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    margin-top: 30px;
    border-top: 5px solid #444;
    border-bottom: 5px solid #444;

    &:hover {
      text-decoration: none;
    }
  }
}

#user_remember_me {
  margin-left: 0px;
}

#blog_title {
  @extend %form-fields;
  height: 32px;
}

.new-blog-post-button {
  @extend %red-button;
  float: right;
}

.blog-main {
  margin-top: 30px;

  .blog-article {
    margin-bottom: 10px;
    padding-bottom: 35px;
    padding-top: 20px;
    float: left;
    border-bottom: 1px solid #d9d9de;

    .blog-post-title {
      border-left: 3px solid $red;
      padding-left: 20px;

      a {
        text-decoration: none;
        background-color: none;
        color: #444;

        &:hover {
          background-color: transparent;
          color: $red;
        }
      }
    }

    .blog-date {
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: 14px;
      letter-spacing: 1px;
      color: #a3a3a3;
      font-weight: bold;
    }
  }
}

.edit-blog, .new-blog {

  .header {
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #444;
    height: 70px;
    font-style: normal;
    margin: 20px 10px 20px 0px;
    letter-spacing: normal;
    font-size: 54px;
    line-height: 60px;
  }

  h3 {
    margin-top: 25px;
  }

  .create-blog-post-button, .save-changes-button {
    @extend %red-button;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    float: right;
    margin-bottom: 20px;
  }
}

.pagination {
  float: right;
}
.pagination > .active > span {
  background-color: $red;
  border-color: $red;
  &:hover {
    background-color: $red;
    border-color: $red;
  }
}
.pagination > li > a {
  color: $red; 

  &:hover {
    color: $red;
  }
}

footer {
  // bottom:0;
  width:100%;
  height:40px;
  border-top: 1px solid #eee;
  padding: 10px 0px;
  position: absolute;

  .social-links {

    .links {
      text-align: center;

      a {
        margin: 0 10px;
        color: #ccc;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0px 2px 3px #fff;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.redactor_editor {
  height: 300px;
}

.redactor_toolbar {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}

#redactor_modal {
  border-radius: 0px;
  #redactor_modal_inner {
    footer {
      background-color: #f5f5f5;
    }
  }
}

.contact {
  margin-top: 50px;

  .contact-form-header {
    font-size: 32px;
    line-height: 37px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: #3b3b3b;
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
  }

  #new_contact {
    label {
      vertical-align: top;
      margin-top: 10px;
      color: #626262;
    }
    
    #contact_name, #contact_email {
      @extend %form-fields;
      height: 38px;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      color: #515357;
      padding-left: 5px;
      margin-top: 3px;
      margin-bottom: 2px;
    }

    #contact_message {
      @extend %form-fields;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      color: #515357;
      padding-left: 5px;
      margin-top: 10px;
      height: 80px;
    }

    .contact-submit {
      height: 40px;
      width: 130px;
      background-color: $red;
      border: none;
      font-family: 'Noto Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
      @extend %transition;
      font-weight: 600;
      border-radius: 3px;

      &:hover {
        background-color: darken($red, 10%)
      }
    }
  }
}

.about-page-top {
  background-image: url('/assets/david_pushup.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .about-page-header {
    font-weight: 600;
    color: white;
    margin-top: 120px;
    text-transform: uppercase;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;

    .about {
      font-size: 56px;
      display: block;
      color: $red;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 100;
      letter-spacing: 8px;
      padding-bottom: 30px;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);
    }

    .david {
      font-size: 140px;
      display: block;
      font-weight: 900;
      letter-spacing: 10px;
      padding-left: 20px;
      border-left: 5px solid $red;
      font-family: 'Lato', sans-serif;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.50);
    }
  }
}

.about-page-content {
  padding-bottom: 5%;

  .header {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .content {
    padding: 10px;
    font-size: 20px;
  }

  .david-bball {
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  }

  hr {
    border: 1px solid $black;
  }
}

.about-page-image {
  background-image: url('/assets/quote_photo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  min-height: 750px;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .about-page-quote {
    margin-top: 25%;
    text-align: center;
    text-shadow: 1px 1px 1px #000;

    .quote {
      font-size: 60px;
      font-weight: 800;
      font-family: 'Raleway', sans-serif;
      color: white;
    }

    .quote-from {
      font-size: 40px;
      font-weight: 800;
      font-family: 'Raleway', sans-serif;
      color: white;
    }

    .decorative-line {
      @extend %decorative-line;
      background-color: white;
      box-shadow: 1px 1px 1px #000;
      display: inherit;
      margin-left: auto;
      margin-right: auto;
      float: none;
    }

    .contact-now-button {
      @extend %red-button;
      font-size: 18px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      display: inline-block;
    }
  }
}

.individual-blog-post {

  .blog-post-title {
    margin-right: 10px;
    text-align: center;
    line-height: 46px;
    color: #505050;
    display: block;
    margin-top: 50px;
    text-transform: uppercase;
  }

  .blog-post-date {
    margin-bottom: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #a3a3a3;
    font-weight: bold;
    text-align: center;
  }

  .blog-post-content {
    margin-bottom: 20px;
  }

  .social-share {
    margin: 0px 15px;
    height: 132px;
    padding: 20px;
    border-top: 3px solid $red;
    background-color: #f8f8f8;
    
    .share-post {
      padding-bottom:10px;
      text-align: center;
      font-weight: 700;
    }
  }

  .edit-blog-post-button {
    display: block;
    text-align: center;
  }

  .other-blog-posts {
    margin: 0px 15px;
    background-color: #f8f8f8;
    border-top: 3px solid $red;
    margin-top: 30px;
    padding: 20px;

    .header {
      text-align: center;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .blog-post-links {
      display: block;
      margin-bottom: 6px;
      margin-top: 6px;
      padding-bottom: 6px;
      border-bottom: 1px dotted #d9d9de;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.services-page-top {
  padding-top: 50px;
  font-family: '"Open Sans"', sans-serif;

  .services-page-header {
    font-weight: 700;
    line-height: 56px;
    font-size: 60px;
    color: $red;
    text-transform: uppercase;
  }

  .services-page-subheader {
    color: #3b3b3b;
  }

  .decorative-line {
    @extend %decorative-line;
    background-color: $red;
  }

  .david-cartoon-img {
    width: 60%;
    margin-top: 20px;
  }

  .services-list {
    padding: 20px 0px;
    font-size: 28px;
    color: #777;

    .service {
      margin-bottom: 18px;

      .fa-check {
        color: $neon-green;
      }
    }
  }

  .start-now-button {
    @extend %red-button;
    margin-top: 0px;
    float: none;
    display: inline-block;
  }
}

.individual-services {
  padding-top: 40px;
  
  .service-header {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }
}

.carousel-indicators {
  bottom: 0px;
}

.lowercase {
  text-transform: lowercase;
}
.green {
  color: $neon-green;
}